*{
    margin: 0;
    
}
.text{
    color: #f0e3c0;
    font-family: 'Luckiest Guy',cursive;
}
.gamecontainer{
    padding: 50px;
    background-color: rgb(13, 31, 48);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons{
    display: inline-block;
    background-color: #db6c0f;
    margin: 1vh;
    padding: 1vh;
    width: 75%;
}

.scoreboard{
    /* height: 2vh; */
    margin: 1vh;
    padding: 1vh;
    font-size: 3vh;
    text-align: center;
    display: block;

}

nav{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
}

.info{
    font-size: 3vh;
    margin-top: 1vh;
}

.container{
    margin: 5vh;
    display: grid;
    grid-template-columns: repeat(3, 15vh);
    grid-template-rows: repeat(3, 15vh);
    justify-content: center;

}
.container div{
    background-color: #3b6670;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;

}
.container .box{
    margin: 1vh;
}
.container div:hover{
    background-color: #2d3a48;
    cursor: pointer;
}


footer{
    display: flex;
    justify-content: center;
}
footer ul a{
    text-decoration: none ;

}
footer ul button{
    border: 2px solid red;
    border-radius: 4px;
    background-color: antiquewhite;
    margin: 2vh;
}

