/* *{
    border: 2px solid green;
} */
.gamecontainer{
    border: 2px solid red;
}
nav{
    display: flex;
    background-color: rgb(22, 15, 30);
    height: 10vh;
    color:white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 5vh;
    /* flex-wrap: wrap; */
}
nav ul{
    list-style: none;
}

.container{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(3, 25vh);
    grid-template-rows: repeat(3, 25vh);
    justify-content: center;
    background-color: chartreuse;
    /* flex-wrap: wrap; */
}
.container div{
    background-color: aqua;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;  
    /* flex-wrap: wrap;
    flex-shrink: calc(25); */
}
.container div:hover{
    background-color: rgb(76, 245, 237);
    cursor: pointer;
}
.container .bu{
    border-top: 0;
}
.container .bd{
    border-bottom: 0;
}
.container .br{
    border-right: 0;
}
.container .bl{
    border-left: 0;
}

footer{
    padding-top: 3vh;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}
footer ul a{
    text-decoration: none;
    /* margin: 3vh; */
    /* background-color: rgb(121, 253, 190);
    border: 2px solid black;
    border-radius: 3px; */

}
footer ul button{
    border: 2px solid red;
    border-radius: 4px;
    background-color: antiquewhite;
    /* padding: 20px; */
    margin: 2vh;
}

